#overlay {
  width:100vw;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.8);
  z-index: 10;
  position: fixed;
  padding: 10px 0px 0px 0px;
  top: 0;
  left: 0;
  overflow: auto;
}

#overlayContent {
  /*width: 80%;*/
  height: 100vh;
  position: fixed;
  margin-left: auto;
  margin-right: auto;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%); 
  text-align: center;
}

#overlay img {
  width: auto;
  height: 80%;
  text-align: center;
}

.grid {
  column-count: 3;
  column-width: 200px;
  column-gap: 0px;
}

.grid img {
  max-width: 200px;
}

.App {
  width: 645px;
  margin: auto;
  padding-left: 15px;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

.mainHead {
  margin-top: 50px;
  margin-bottom: 0px;
  letter-spacing: -0.5px; 
  font-weight: 400;
}

.subHead {
  color: #666666;
  letter-spacing: -0.5px;
}

.landmarkContainer {
  position: relative; 
  max-width: 200px;
  margin-bottom: 13px;
  cursor: pointer;
}

.hoverInfo {
  position: absolute;
  display: none;
  top: 0;
  left: 0;
  z-index: 2;
  max-width: 200px;
  height: 100%;
  width: 100%;

}

.landmark {
  font-size: 12px;
  padding-top: 10px;
  margin-top: 0px;
  margin-bottom: 3px;
  margin-left:10px;
}

.landmarkSub {
  font-size: 11px;
  margin-top: 0px;
  margin-bottom: 3px;
  margin-left:10px;
}

#hoverInfo0 {
  background: linear-gradient(146.5deg, rgba(255,255,255,.7) 50%, rgba(255,255,255,0) 50%);
}

#hoverInfo1 {
  background: linear-gradient(123.5deg, rgba(255,255,255,.7) 50%, rgba(255,255,255,0) 50%);
}

#hoverInfo2 {
  background: linear-gradient(123.5deg, rgba(255,255,255,.7) 50%, rgba(255,255,255,0) 50%);
}

#hoverInfo3 {
  background: linear-gradient(146.5deg, rgba(255,255,255,.7) 50%, rgba(255,255,255,0) 50%);
}

#hoverInfo4 {
  background: linear-gradient(146.5deg, rgba(255,255,255,.7) 50%, rgba(255,255,255,0) 50%);
}

#hoverInfo5 {
  background: linear-gradient(123.5deg, rgba(255,255,255,.7) 50%, rgba(255,255,255,0) 50%);
}

.torPic {
  display: block;
}

.close {
  color: white;
  cursor: pointer;
}

.close:hover {
  color: gray;
}

.icon-list {
  list-style-type: none;
  list-style-position: inside;
  margin: 30px 0px 0px 0px;;
  padding: 0px;
}

.icon-list li {
  display: inline-block;
  margin: 0px 30px 0px 0px;
  font-size: x-large;
}

.socialLink {
  color: black;
}

.socialLink:hover {
  color: #666666;
}

.App-header {
  display: flex;
  flex-direction: column;
  font-size: calc(10px + 2vmin);
  color: black;
  padding-right: 15px;
}

.App-footer {
  padding-bottom: 50px;
}

.App-link {
  color: #61dafb;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}


@media screen and (max-width: 660px) {

  
  #overlay img {
    width: 95%;
    height: auto;
  }

  .App {
    width: 415px;
  }

  .grid {
    column-count: 1;
  }
  .grid img {
    max-width: 400px;
  }
  
  .landmarkContainer {
    max-width: 400px;
  }

  .hoverInfo {
    position: relative;
    display: block !important;
    top: 0;
    left: 0;
    z-index: 2;
    height: 100%;
    width: 100%;
    max-width: 400px;
  }

  .landmark {
    font-size: 18px;
    padding-top: 10px;
    margin-top: 0px;
    margin-bottom: 3px;
    margin-left:0px;
    max-width: 400px;
  }
  
  .landmarkSub {
    font-size: 15px;
    margin-top: 0px;
    margin-bottom: 10px;
    margin-left:0px;
    max-width: 400px;
  }
  
  #hoverInfo0 {
    background: none;
  }
  
  #hoverInfo1 {
    background: none;
  }
  
  #hoverInfo2 {
    background: none;
  }
  
  #hoverInfo3 {
    background: none;
  }
  
  #hoverInfo4 {
    background: none;
  }
  
  #hoverInfo5 {
    background: none;
  }

  .breakHide {
    display: none;
  }
}
@media screen and (max-width: 430px) {
  
  #overlayContent {
    width: 90%;
  }
  
  #overlay img {
    width: 100%;
    height: auto;
  }
  
  .App {
    width: 300px;
    padding-left: 0px;
  }

  .grid {
    column-count: 1;
  }
  .grid img {
    max-width: 300px;
  }

  .hoverInfo {
    max-width: 300px;
  }

  .landmarkContainer {
    max-width: 300px;
  }

  .landmark {
    max-width: 275px;
  }
  
  .landmarkSub {
    max-width: 275px;
  }
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
